<include file="Common:header"/>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushAS3.js"></script>
<script type="text/javascript" src="__ROOT__/ueditor/third-party/SyntaxHighlighter/scripts/shBrushCSharp.js"></script>
<link type="text/css" rel="stylesheet" href="__ROOT__/ueditor/third-party/SyntaxHighlighter/styles/shThemeRDark.css"/>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>
<include file="Common:nav"/>
<!-- Intro -->
<div class="hero overlay-dark40"></div>
<div class="wrapper wrapper-content  animated fadeIn article">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 bl-top">
            <div class="ibox">
                <div class="ibox-content">
                    <!--<div class="pull-right">-->
                        <!--<button class="btn btn-white btn-xs" type="button">700BIKE</button>-->
                        <!--<button class="btn btn-white btn-xs" type="button">BeginOne</button>-->
                        <!--<button class="btn btn-white btn-xs" type="button">乐视超级自行车</button>-->
                    <!--</div>-->
                    <!--<foreach name="parent" item="v"></foreach>-->
                    <div class="text-center article-title">
                        <h2>
                            {$blog.title}
                        </h2>
                    </div>
                    <div class="container text-center">
                        <h3 class="alt-title mb-45 alt-bander">
                            <span >编辑：{$blog.blogauther}</span>&nbsp;&nbsp;
                            <span >发布时间：{$blog.time|date='Y-m-d',###} </span>&nbsp;&nbsp;
                            <span >阅读（<script type="text/javascript" src="{:U(MODULE_NAME.'/Show/clickNum',array('id'=>$blog['id']))}"></script>） </span>
                        </h3>
                    </div>
                     <div class="main-cont">
                         {$blog.content}
                     </div>
                        <div class="content-key">
                            关键字：<button class="btn btn-white btn-xs" type="button">{$blog.tags}</button>
                        </div>
                        <hr>
                    <div class="row main-cont">
                        <div class="col-lg-12 comment">
                            <h4>评论：</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<include file="Common:bottom"/>